<p-confirmDialog></p-confirmDialog>

<div class="max-w-6xl mx-auto p-4 mt-12">
  <h2 class="text-2xl font-bold mb-6 text-orange-500 flex items-center gap-2">
    <i class="pi pi-heart"></i>
    Your Wishlist
  </h2>
  


  <!-- Wishlist Items -->
  @if(!loading && wishlist.length > 0){<div  class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    @for (item of wishlist; track item.variantId) {
      <p-card class="relative shadow-sm cursor-pointer" (click)="goToProductDetails(item.variantId)">
        <ng-template pTemplate="header">
          <p-avatar
            [image]="item.imageUrl"
            shape="square"
            size="xlarge"
            class="rounded-lg mx-auto mb-3"
          ></p-avatar>
          <button
    (click)="removeItemFromWishlist(item.variantId, $event)"
    class="absolute top-2 right-2 text-black-500 hover:text-red-700 bg-white  p-2 shadow-md"
    title="Remove from Wishlist"
  >
    <i class="pi pi-times text-lg"></i>
  </button>
        </ng-template>

        <div class="text-center">
          <h3 class="text-lg font-semibold mb-1">{{ item.productName }}</h3>
          <div class="mb-1 text-sm text-gray-600">Color: {{ item.color }}</div>
          <div class="mb-2 text-orange-600 font-bold text-lg">₹{{ item.price.toFixed(2) }}</div>
          <div
            [ngClass]="item.inStock ? 'text-green-600' : 'text-red-600'"
            class="font-semibold"
          >
            {{ item.inStock ? 'In Stock' : 'Out of Stock' }}
          </div>
        </div>
        
      </p-card>
    }
  </div>}

  <!-- Empty Wishlist -->
@if (!loading && wishlist.length === 0) {
  <div class="text-center text-gray-500 mt-16 flex flex-col items-center justify-center">
    
    <!-- Large Icon -->
    <i class="pi pi-ban text-6xl text-orange-400 mb-6"></i>

    <!-- Message -->
    <p class="text-lg mb-4">Your wishlist is empty. Start adding your favorite products!</p>

    <!-- Go to Products Button -->
    <p-button
      severity="contrast" raised size="large" 
      label="Browse"
      icon="pi pi-arrow-right"
      (click)="goToProducts()"
    ></p-button>

  </div>
}

</div>
