<!-- CART ROOT (Drawer Safe) -->
<div class="cart-drawer-root h-full w-full overflow-x-hidden">

  <!-- CART CONTENT -->
  <div class="flex flex-col h-full">

    <!-- CART HEADER
    <div class="sticky top-0 z-10 bg-white border-b px-4 py-3">
      <h2 class="text-lg font-semibold">My Bag</h2>
    </div> -->

    <!-- CART BODY -->
    <div class="flex-1 overflow-y-auto px-4 py-3">

      @if (hasCartItems) {

        <div class="space-y-4">

          @for (item of cart.items; track item.id) {

          <!-- CART ITEM -->
          <div
            class="relative flex gap-3 p-3 border  bg-white shadow-sm w-full">

            <!-- REMOVE -->
            <div class="absolute top-2 right-2">
              <p-button
                icon="pi pi-trash"
                severity="contrast"
                size="small"
                outlined
                (onClick)="removeFromCart(item)">
              </p-button>
            </div>

            <!-- IMAGE -->
            <div class="w-20 h-25 bg-gray-100 rounded flex-shrink-0 flex items-center justify-center">
              <img
                [src]="item.imageUrl"
                class="max-w-full max-h-full object-contain cursor-pointer"
                (click)="goToProductDetails(item.variantId)" />
            </div>

            <!-- DETAILS -->
            <div class="flex-1  flex-col ">

              <p class="font-medium text-sm sm:text-base">
                {{ item.variantName }}
              </p>
              <p class="font-medium text-sm sm:text-base">
               ₹{{ item.price }}
              </p>
              <p class="font-medium text-sm sm:text-base">
                Color: {{ item.color }}
              </p>

              

              <!-- STOCK -->
              @if(item.selectedSizeObj?.availableQuantity > 0){
                <p-tag value="In Stock" severity="success" class="text-xs"></p-tag>
              }
              @if(item.selectedSizeObj?.availableQuantity <= 0){
                <p-tag value="Out of Stock" severity="danger" class="text-xs"></p-tag>
              }

              <!-- QTY + SIZE -->
              <div class="flex flex-col sm:flex-row gap-2 w-full">

                <!-- QUANTITY -->
                <div class="flex items-center gap-1">
                  <p-button severity="secondary" size="small" outlined (click)="decreaseQuantity(item)">
                    <i class="pi pi-minus"></i>
                  </p-button>

                  <p-tag value="{{ item.quantity }}" severity="contrast"></p-tag>

                  <p-button severity="secondary" size="small" outlined (click)="increaseQuantity(item)">
                    <i class="pi pi-plus"></i>
                  </p-button>
                </div>

                <div class="w-40 w-full">
                <p-autocomplete [(ngModel)]="item.selectedSizeObj" name="size" #size="ngModel" required
                  [suggestions]="autoFilteredSizeValue" optionLabel="size" field="size" dropdown forceSelection="true"
                  type="false" (completeMethod)="filterSize($event,item)" inputId="size"
                  (keydown)="preventTyping($event)" (onSelect)="onSizeChange(item)"
                  [inputStyle]="{ 'caretColor': 'transparent' }" class="w-full">
                </p-autocomplete>
                @if(item?.selectedSizeObj?.availableQuantity <= 0 && getItemLength(item)>1){ <span>
                  <p-tag value="Check other quantity" severity="danger" class="text-xs font-medium">
                  </p-tag>
                  </span>
                  }
              </div>

              </div>

            </div>
          </div>
          }
        </div>

      } @else {

        <!-- EMPTY STATE -->
        <div class="flex flex-col items-center justify-center h-full text-center text-gray-500">
          <div class="text-5xl mb-3">🛒</div>
          <p class="text-lg">Your cart is empty</p>
          <p class="text-sm mb-4">Start adding items</p>
          <p-button severity="contrast" (click)="goToShop()">Explore Products</p-button>
        </div>

      }

    </div>

    <!-- CART FOOTER -->
    @if(hasCartItems){
    <div class="sticky bottom-0 bg-white border-t px-4 py-3">

      <div class="flex justify-between items-center mb-3">
        <span class="text-sm">
          Subtotal ({{ cart.items.length }} items)
        </span>
        <span class="font-semibold">
          ₹{{ getCartTotal() | number:'1.2-2' }}
        </span>
      </div>

      <p-button
        label="Proceed to Buy"
        severity="contrast"
        size="large"
        styleClass="w-full"
        (click)="goToCheckout()">
      </p-button>

    </div>
    }

  </div>
</div>
<!-- BACKDROP (only if modal open and not logged in) -->
@if (showSignupPanel && !isLoggedIn) {
<div class="fixed inset-0 z-40 bg-black/40 backdrop-blur-sm transition-opacity duration-300"></div>
}

<!-- SLIDE-UP MODAL PANEL (only on mobile and not logged in) -->
@if (showSignupPanel && !isLoggedIn) {
<div
  class="fixed bottom-0 left-0 w-full h-3/4 bg-white/80 backdrop-blur-md shadow-xl rounded-t-2xl transform transition-transform duration-300 ease-in-out z-50"
  [class.translate-y-full]="!showSignupPanel">
  <!-- Close Button -->
  <div class="absolute -top-10 left-1/2 transform -translate-x-1/2 z-50 
         flex items-center gap-3 px-5 py-2 rounded-full 
         shadow-md border border-black-400 
         
         text-black font-semibold cursor-pointer 
         hover:scale-105 transition-transform duration-200" (click)="toggleSignupPanel()">
    <i class="pi pi-times text-xl"></i>
    <span class="font-medium whitespace-nowrap text-sm sm:text-base">Close</span>
  </div>

  <!-- Modal Header -->
  <div class="p-4 pt-10 border-b border-black-100 flex justify-between items-center 
            rounded-t-2xl text-[#8a5c1d] 
            ">
    <h2 class="text-lg font-semibold">
      {{ showLogin ? 'Login' : 'Sign up' }}
    </h2>

    <p-button (click)="toggleLogin()" class="text-white text-sm font-medium hover:underline" raised size="large"
      severity="contrast" outlined>
      {{ showLogin ? 'Sign up' : 'Login instead' }}
    </p-button>
  </div>

  <!-- Modal Content -->
  <div class="p-4 h-[calc(100%-64px)] overflow-y-auto">
    @if (showLogin) {
    <app-login (loginSuccess)="handleLoginSuccess($event)" />
    } @else {
    <app-signup />
    }
  </div>
</div>
}

<!-- Floating CTA Button (only if modal closed and not logged in) -->
@if (!showSignupPanel && !isLoggedIn) {
<div class="fixed bottom-30 left-1/2 transform -translate-x-1/2 z-40 
         flex items-center gap-3 px-5 py-3 rounded-full 
         shadow-md border border-black-400 
         bg-white
         text-black font-semibold cursor-pointer 
         hover:scale-105 transition-transform duration-200" (click)="toggleSignupPanel()">
  <i class="pi pi-user-plus text-xl"></i>
  <span class="font-medium whitespace-nowrap text-sm sm:text-base">SIGN UP / SIGN IN</span>
</div>
}